@model NewDiplom.Models.Status

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center colortext">Подробнее</h1>
<h4 class="text-center colortext">Статус</h4>
<body class="body">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt class="colortext">
                Название статуса
            </dt>
            <dd class="colortext">
                @Html.DisplayFor(model => model.Status_name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" , class="btn br0 btn-secondary">Изменить</a> |
        <a asp-action="Index" class="colortext">Обратно к статусу</a>
    </div>
</body>