@using Diplom.Enums
@model Diplom.Models.TaskDistribution

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center colortext">Создание</h1>

<h4 class="text-center colortext">Распределение задач</h4>
<hr />
<body class="body">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StartedAt" class="control-label colortext">Распределено</label>
                    <input asp-for="StartedAt" class="form-control" />
                    <span asp-validation-for="StartedAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PeriodValue" class="control-label colortext">Значение периода</label>
                    <input asp-for="PeriodValue" class="form-control" />
                    <span asp-validation-for="PeriodValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PeriodUnit" class="control-label colortext">Единица периода</label>
                    <select asp-for="PeriodUnit" asp-items="Html.GetEnumSelectList<PeriodUnitEnum>()">
                        <option selected="selected" value="">Выберите</option>
                    </select>
                    <span asp-validation-for="PeriodUnit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PluralityId" class="control-label colortext">Совместительство</label>
                    <select asp-for="PluralityId" class="form-control" asp-items="ViewBag.PluralityId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ZadachiId" class="control-label colortext">Задача</label>
                    <select asp-for="ZadachiId" class="form-control" asp-items="ViewBag.ZadachiId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StatusId" class="control-label colortext">Статус</label>
                    <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn br0 btn-secondary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="colortext">Обратно к распределению задач</a>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
