@model Diplom.ViewModels.RoleManagmentViewModel

@{ ViewData["Title"] = "Create"; }

<h1 class="text-center colortext">Создание записи</h1>

<h4 class="text-center colortext">Роли</h4>
<body class="body">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="GiveOutRole">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label colortext">Логин пользователя</label>
                    <select asp-for="UserName" class="form-control" asp-items="ViewBag.UserName"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationRoleName" class="control-label colortext">Роль</label>
                    <select asp-for="ApplicationRoleName" class="form-control" asp-items="ViewBag.RoleName"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Добавить роль" class="btn br0 btn-secondary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="colortext">Вернуться назад</a>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
