@model Diplom.Models.Plurality

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center colortext">Удаление</h1>
<h4 class="text-center colortext">Совместительство</h4>
<body class="body">
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt class="colortext">
                Сотрудник
            </dt>
            <dd class="colortext">
                @Html.DisplayFor(model => model.Employee.Surname) @Html.DisplayFor(model => model.Employee.Name) @Html.DisplayFor(model => model.Employee.Second_Name)
            </dd>
            <dt class="colortext">
                Должность
            </dt>
            <dd class="colortext">
                @Html.DisplayFor(model => model.Position.Position_name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn br0 btn-secondary" , onclick="return confirm ('Удалить запись?')" /> |
            <a asp-action="Index" class="colortext">Обратно к совместительству</a>
        </form>
    </div>
</body>