@model Diplom.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center colortext">Удаление</h1>
<body class="body">
    <div>
        <h4 class="text-center colortext">Сотрудники</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt class="colortext">
                Фамилия
            </dt>
            <dd class="colortext">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="colortext">
                Имя
            </dt>
            <dd class="colortext">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="colortext">
                Отчество
            </dt>
            <dd class="colortext">
                @Html.DisplayFor(model => model.Second_Name)
            </dd>
            <dt class="colortext">
                Номер сотрудника
            </dt>
            <dd class="colortext">
                @Html.DisplayFor(model => model.Employee_Number)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn br0 btn-secondary" , onclick="return confirm ('Удалить запись?')" /> |
            <a asp-action="Index" class="colortext">Обратно к сотрудникам</a>
        </form>
    </div>
</body>