@model NewDiplom.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center colortext">Создание</h1>

<h4 class="text-center colortext">Аккаунт</h4>
<hr />
<body class="body">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label colortext">Логин</label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label colortext">Пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date_Create" class="control-label colortext">Дата создания</label>
                    <input asp-for="Date_Create" class="form-control" />
                    <span asp-validation-for="Date_Create" class="text-danger"></span>
                </div>



                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">+7</span>
                    </div>
                    <div>
                        <input type="text" asp-for="Phone_Number" class="form-control" placeholder="Номер телефона" aria-label="Номер телефона" aria-describedby="basic-addon1"></input>
                    </div>
                    <div>
                        <span asp-validation-for="Phone_Number" class="text-danger"></span>
                    </div>
                </div>


                @*<div class="form-group">
                    <label asp-for="Phone_Number" class="control-label colortext">Номер телефона</label>
                    <input asp-for="Phone_Number" class="form-control" />
                    <span asp-validation-for="Phone_Number" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Email" class="control-label colortext">Почта</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RightsId" class="control-label colortext">Права</label>
                    <select asp-for="RightsId" class="form-control" asp-items="ViewBag.RightsId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PluralityId" class="control-label colortext">Совместительство</label>
                    <select asp-for="PluralityId" class="form-control" asp-items="ViewBag.PluralityId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn br0 btn-secondary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="colortext">Обратно к аккаунтам</a>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
